

*{
 font-family: 'poppins', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;

}
header{
	display: flex;
	justify-content: space-between;
	margin: 0.6rem;
	padding: 0.7rem 0 -1em 0;


}
.logo{
	margin-left: 0.3rem;
	padding: 0.1rem;
	margin-top: -0.4em;
}
.logo img{
	width: 6em;
	height: 2.1em;
	font-size: 1.5rem;

}
.text h3{
	font-size: 17px;
	font-weight: 600;
	color: #026;
	opacity: 70%;
	margin-top: 0.9rem;

}
.button{
	margin-top: 0.6rem;

}
#loginBtn{
	border: none;
	padding: 0.4rem;
	background: rgb(19, 130, 220, 0.7);
	color: white;
	border-radius: 0.2rem;
	width: 4rem;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 0.1em;
	cursor: pointer;
}
#signupBtn{
	border: 1px solid lightblue;
	padding: 0.4rem;
	border-radius: 0.3rem;
	font-weight: 500;
	font-size: 12px;
	color: #059;
	background: transparent;
	letter-spacing: 0.1em;
	width: 5rem;
	cursor: pointer;
}





.content{
	background: rgb(19, 130, 220, 0.7);
	padding: 4.5rem;
	justify-content: center;
	align-items: center;

}
.content .tl{
	font-weight: 200;
	text-transform: uppercase;
	margin-left: 5rem;
	margin-top: -3rem;
	color: whitesmoke;
}
.content input{
	border: none;
	padding: 0.8em;
	border-radius: 0 0.4rem 0.4rem 0;
	margin-left: 30%;
	width: 40%;
	margin-top: 2rem;
	outline: none;
}
.content .fa{
	position: absolute;
	margin-left: 24%;
	background: white;
	padding: 0.8rem;
	margin-top: 2rem;
	border-radius: 0.4rem 0 0 0.4rem;
	color: grey;
	font-weight: 900;

}
main{
	display: flex;
}
.job{
	margin: 1.2rem;
	padding: 10rem;
	width: 80%;
	border-radius: 0.7rem;
	border: 1px solid rgb(25, 90, 227, 0.7);;
	box-shadow: 0 0 1px 0  rgb(25, 100, 210, 0.7);
}
.guide{
padding: 1rem;
margin-left: 1rem;
justify-content: space-between;
width: 30%;
margin-top: 0.5rem;

}
.guide h3{
	padding: 1rem 0.5rem 5rem 0.5rem;
	background: #059;
	color: white;
	height: 0.2em;
	width: 80.1%;
	font-weight: 200;
	border-radius: 0.5em 0.5em 0 0;
	box-shadow: 0 0 6px 0  rgb(25, 100, 210, 0.7);
	margin-left: 1.7em;

}
.guide button{
	float: right;
	margin-top: -0.7rem;
	margin-right: 1rem;
	font-size: 12px;
	cursor: pointer;
	background: transparent;
	border: none;
	color: white;
}
.guide span:hover{
	color: yellow;
}
#lines{
	width: 80%;
	margin-left: 2rem;
	box-shadow: 0 0 8px 0 lightblue;
	padding: 3rem;
	display: block;

}
.hidden{
	display: none;
}
#lines p{
	color: #056;
	margin-left: -1.5rem;
	font-size: 13px;
}
#lines li{
	margin-left: 1rem;
	font-size: 0.6rem;
	font-weight: 500;
}
h6{
	font-size: 14px;
	padding: 0.4rem;
}
#lines #tel{
	font-size: 12px;
	color: #029;
	margin-left: 1rem;
}




.head{
	padding: 0.1rem;
	margin-top: -9rem;
	margin-left: -9rem;
	font-weight: 600;

	text-transform: uppercase;
	border-bottom: 0.5px solid grey;
	
	
}
.box{
	border-radius: 0.4rem;
	padding: 4em;
	margin: 1em;
	box-shadow: 0 0 3px 0 grey;
	max-width:220vw;
	margin-left: -9rem;

}
h5{
	margin-top: -3rem;
	margin-left: -3rem;
		color: #059;
		font-weight: 500;
		text-transform: capitalize;
		text-decoration: underline;
		font-size: 17px;
		cursor: pointer;
}
#apply{
	float: right;
	border-radius: 0.3rem;
	border: none;
	background: rgb(19, 130, 220, 0.7);
	padding: 0.1rem;
	text-transform: uppercase;
	width: 4rem;
	margin-top: -1.5rem;
	margin-right: -3rem;
	color: white;
	cursor: pointer;
}
.par{
	margin-left: -3rem;
	font-size: 14px;
	text-transform: capitalize;
}
#level{
	margin-left: -3rem;
	color: #059;
	font-size: 13px;
}
#post{
	margin-left: 2rem;
	color: #059;
	font-size: 13px;
}
#under{
	margin-left: 3rem;
	font-size: 9px;
	border-radius: 0.6rem;
	border: 0.3px solid grey;
	padding: 0.6px;
}
@media screen and (max-width: 600px) {
  
.text{
  
  display: none;
}
header{ 
  width: 100%;
  justify-content: space-between;
 
}
.content{ 
  width: 100%;
  
}
.content input{ 
  width: 247px;
  margin-left: 1rem;
  padding: 0.8em;
  
}
.content .fa{ 
  margin-left: -0.9rem;
  padding: 0.8rem;
}
.content .tl{ 
  margin-left: 1rem
}
.button{
  margin-right: 1rem;

}
main{ 
  display: block;
}
.guide{ 
  display: none;
}
.job{ 
  width: 97%;
  margin: auto;
  padding: auto;
}
.head{ 
  width: 320px;
  
}
.box{ 
  width: 50vh;
  
}
}